<ul>
  {{#each messages}}
    <li>
      <p>Name: {{username}}</p>
      <p>Message: {{message}}</p>
      {{!-- <p>Sentiment: {{sentiment}}</p>
      <p>Likes: {{likes}}</p>
      <p>Dislikes: {{dislikes}}</p> --}}
    </li>
  {{/each}}
</ul>