

<h2>Add a Message</h2>

<form class="create-form">

  <div class="form-group">
    <label for="username">User name:</label>
    <input type="text" id="userName" name="username">
  </div>

  <div class="form-group">
    <label for="message">Message:</label>
    <textarea id="userMessage" name="message" rows="8" cols="40"></textarea>
  </div>

  <button type="click" id = "submitBtn">Add Message:</button>
</form>
<h1>Message up</h1>
<ul>
  {{#each messages}}
  
  	<li>
  		<p><span class="label">User name:</span> {{messages.username}}</p>
  		<p><span class="label">message:</span> {{messages.message}}</p>
      <p><span class="label">User name:</span> {{username}}</p>
      <p><span class="label">Message:</span> {{message}}</p>
      <button data-id="{{this.id}}" class="delquote">Delete</button>

      <a href="/{{this.id}}">Update this quote</a>
  	</li>
  {{/each}}
</ul>

