<h2>Add a Message</h2>
<h4 id ="target">Fun fact: </h4>
<form class="create-form">

  <div class="form-group">
    <label for="username">User name:</label>
    <input type="text" id="userName" name="username">
  </div>

  <div class="form-group">
    <label for="message">Message:</label>
    <textarea id="userMessage" name="message" rows="8" cols="40"></textarea>
  </div>

  <button type="click" id = "submitBtn">Add Message:</button>
</form>

{{!-- <template id="message-template">
  <div class="messageTemp">
    <h1>Name :{{name}}</h1>
    <p>Message : {{message}}</p>
  </div>
</template> --}}


<h1>Message up</h1>
<ul class ="message-body">
  {{#each messages}}
  {{log this}}
  	<li>
  		<p><span class="label">User name:</span> {{this.dataValues.username}}</p>
  		<p><span class="label">message:</span> {{this.dataValues.message}}</p>
      {{!-- <button data-id="{{this.dataValues.id}}" class="delquote">Delete</button> --}}
      {{!-- <a href="/{{this.dataValues.id}}">Update this quote</a> --}}
  	</li>
  {{/each}}
</ul>

