<ul>
  {{#each messages}}
    <li>
      <p>Name: {{this.username}}</p>
      <p>Message: {{this.message}}</p>
      <p>Sentiment: {{this.sentiment}}</p>
      <p>Likes: {{this.likes}}</p>
      <p>Dislikes: {{this.dislikes}}</p>
    </li>
  {{/each}}
</ul>
